<head>
    <title>CoinFrenzy Authentication</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <link rel="stylesheet" href="css/main.css" type="text/css" />
    <link rel="stylesheet" href="css/normalize.css" type="text/css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    <script src="/socket.io/libs/socket.io.js"></script>
    <script src="../libs/jquery/dist/jquery.js"></script>

    <script>
        var socket = io.connect();
    </script>
</head>
